/* add your CSS here */

body {
	font-family: 'Helvetica', sans-serif;
}

.fact {

 	font-style: italic;
}

.border {
	border: solid 1px #ddd;
	padding: 5px;
	width: 290px;

}

.box {

	border: solid 2px #ddd;
	box-shadow: 3px 3px 10px #ccc;
	padding: 0px 10px 10px 10px;
	width: 300px;

}
ul {
	padding: 0;
	list-style-type: none;
}

img {
	width: 300px;
	padding-bottom: 5px;
}

span {
	font-weight: bold;
}
